# Python
venv/
__pycache__/
*.pyc
.env

# 数据文件
data/raw/
data/processed/
*.parquet
*.csv

# dbt
dbt_project/nyc311/target/
dbt_project/nyc311/dbt_packages/
dbt_project/nyc311/logs/
dbt_project/nyc311/profiles.yml

# MLflow
mlruns/
mlflow.db

# IDE
.vscode/settings.json
.DS_Store

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db