fastapi
uvicorn
duckdb
pandas
mlflow
xgboost
scikit-learn
langchain-groq
langchain-core
langchain-community
# chromadb
# sentence-transformers
python-dotenv
slowapi
pydantic
pyarrow

dbt-duckdb
dbt-core
