fastapi==0.115.0
uvicorn==0.30.0
duckdb==1.1.0
pandas==2.2.0
mlflow-skinny
xgboost==2.0.3
scikit-learn==1.4.0
langchain-groq==0.1.9
langchain-core==0.2.0
langchain-community==0.2.0
chromadb==0.5.0
sentence-transformers==3.0.0
python-dotenv==1.0.0
slowapi==0.1.9
pydantic==2.6.0
pyarrow==15.0.0
dbt-duckdb==1.9.0
dbt-core==1.9.0